.tituloUm {
    font-family: 'Roboto', sans-serif;
}

.tituloDois {
    font-family: 'Roboto', sans-serif;
}

.subtitulo {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 240px;
    background-color: #151F42;
}

footer {
    height: 100px;
    background-color: #151F42;

}

.logo {
    width: 580px;
    position: absolute;
    left: 65vh;
}

.textoRodape {
    text-align: center;
    padding-top: 10px;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
}

img {
    border-radius: 10px;
}

.geral {
    width: 500px;
    height: 310px;
}

a:link {
    color: #263050;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

a:visited {
    color: #263050;
}

a:hover {
    color: #8E6AC1;
}